{% set myList = [] %}{% for host in ansible_play_hosts -%} {{ myList.append(host+'='+'https://'+hostvars[host]['ansible_facts']['enp1s0']['ipv4']['address']+':2380') }} {%- endfor %}
[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
Environment=ETCD_UNSUPPORTED_ARCH=amd64
ExecStart=/usr/local/bin/etcd \
  --name {{ hostname.split('.') | first }} \
  --cert-file=/var/lib/kubernetes/kube-api-server.crt \
  --key-file=/var/lib/kubernetes/kube-api-server.key \
  --peer-cert-file=/var/lib/kubernetes/kube-api-server.crt \
  --peer-key-file=/var/lib/kubernetes/kube-api-server.key \
  --trusted-ca-file=/var/lib/kubernetes/kube-root-ca.crt \
  --peer-trusted-ca-file=/var/lib/kubernetes/kube-root-ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_host }}:2380 \
  --listen-peer-urls https://{{ ansible_host }}:2380 \
  --listen-client-urls https://{{ ansible_host }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ansible_host }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ myList|join(',') }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target